node_modules
build
firebase-debug.log
firebase.json
yarn.lock
yarn-error.log

.env
.env.local
.firebase
# Editor config
.idea
.vscode

# OS
.DS_Store

solider-of-wealth-firebase-adminsdk-fbsvc-22cd12bb3f.json